/* body {
    /* background-color: greenyellow; */
    /* background-image: linear-gradient(50deg, rgb(137, 240, 106),rgb(148, 111, 240),rgb(240, 113, 162)); */
    /* height: 100vh; */
    /* background-image: linear-gradient(62deg, #98b8d8 0%, #975ccd 100%); */
    /* background-image: radial-gradient(orange,green,purple,black); */
    /* background-blend-mode: darken;
    background-attachment: fixed; */
    


/* h1{ */
    /* font-size: 140px;
    text-align: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230110/pngtree-green-background-photos-download-free-images-hd-image_1538578.jpg); */

    /* -webkit-background-clip: text;
    color: transparent; */
    
/* } */