div{
    height: 200px;
    width: 200px;
    color: white;
    padding: 50px;
    background-color: black;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 2px;
    font-size: 50px;
}

h1,h2,h3{
    border: 3px solid red;
    width: max-content;
}

section{
    height: 100;
    font-size: 75px;
    background-color: red;
    box-sizing: border-box;
    width: max-content;
    padding: 50px;
    border-radius: 20px;
    margin-top: 22px;
}

p{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(9, 9, 9);
    background-color: chartreuse;
}