.grass{
    float: right;
}
.pg{
    font-size: 30px;
}
/* .child{
    height: 100px;
    width: 100px;
    color: black;
    background-color: aqua;
    margin-bottom: 20px;
    font-size: 30px;
    display: inline-block;
} */

/* .child1{
     visibility: hidden; 
    float: left; 
}
.child2{
    display: none;
}
.child3{
    float: left;
} */



