body{

    height: 100vh;
    margin: 0;
}
#box{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    background-color: chartreuse;
    transition: all 3s ease;
}

#box:hover{
    transform: scale(0.5);
    filter: hue-rotate(240deg);
    cursor: wait;
    transform: translate(200px);
    background-color: black;
}
p{
    font-size: 30px;
    transition: all 2s;
}
p:hover{
    font-size: 70px;
    font-weight: bold;
    cursor: grab;
    color: purple;
}

.box{
    font-size: 40px;
    color: tomato;
    transition: all 3s;
    font-family: Arial;
}
.box:hover{
    font-size: 10px;
    color: darkgreen;
}

.zaid{
    height: 150px;
    width: 150px;
    background-image: url(https://assets.pokemon.com/assets/cms2/img/pokedex/full//133.png);
    background-size: cover;
    transition: all 3s;
}
.zaid:hover{
    height: 200px;
    width: 200px;
    background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/210226041654-05-pokemon-anniversary-design.jpg?q=w_1920,h_1080,x_0,y_0,c_fill);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    cursor:wait;
}