* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: black;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #111; 
}
.zaid {
    font-size: 30px;
    font-weight: bold;
    color: #00aaff;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.abc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.abc1 {
    width: 50%;
}

.abc1 h2 {
    font-size: 50px;
}
.abc1 h3 {
    font-size: 30px;
    margin: 10px 0;
}

.abc1 p {
    font-size: 18px;
    margin: 20px 0;
}

.abc2{
    color: #00aaff;
    cursor: pointer;
}

.button {
    display: flex;
    gap: 12px;
}
html{
    scroll-behavior: smooth;
}

.hire, .contact {
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}
.hire:hover, .contact:hover{
    color: #fff;
    background-color: #00aaff;
}
.hire{
    background-color: #00aaff;
    color: white;
    border: none;
    transition: all 0.2s ease-in-out;
}
.hire:hover{
    transform: scale(1.1);
}
.contact{
    border: 2px solid #00aaff;
    background-color: transparent;
    color: white;
    transition: all 0.2s ease-in-out;
}
.contact:hover{
    transform: scale(1.1);
}

.profile img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #00aaff;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.profile img:hover{
    transform: scale(1.1);
    opacity: 0.7;
    box-shadow: 0px 0px 10px 3px #00f;
}

.icon{
    margin-top: 20px;
}
.icon img{
    width: 30px;
    margin: 0 10px;
    transition: all ease-in-out 0.3s;
}
.icon img:hover{
    transform: scale(1.3);
}
.menu-toggle{
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

@media (max-width: 768px){
    .abc{
        flex-direction: column;
        text-align: center;
        padding: 50px;
    }
    .abc1, .profile{
        width: 100%;
    }
    .button{
        flex-direction: column;
        align-items: center;
    }
    .hire, .contact {
        width: 80%;
        text-align: center;
        margin: 5px 0;
    }

    .profile img{
        margin-top: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .menu-toggle {
        display: block; 
    }    

    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #111;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    nav ul.active {
        display: flex; 
    }
}